Repository googleapis/nodejs-retail, pull requests merged in 2022-02, with the labels that each got.

#145 chore(samples): create/delete test resources scripts
  samples/.mocharc.json
  samples/interactive-tutorials/resources/events_schema.json
  samples/interactive-tutorials/resources/product_schema.json
  samples/interactive-tutorials/resources/products.json
  samples/interactive-tutorials/resources/products_some_invalid.json
  samples/interactive-tutorials/resources/user_events.json
  samples/interactive-tutorials/resources/user_events_some_invalid.json
  samples/interactive-tutorials/setup/setup-cleanup.js
  samples/interactive-tutorials/test-resources-setup/TEST_RESOURCES_SETUP_CLEANUP.md
  samples/interactive-tutorials/test-resources-setup/create-test-resources.js
  samples/interactive-tutorials/test-resources-setup/remove-test-resources.js
  samples/package.json
Labels: samples, api: retail, owlbot:run

#137 chore(samples): add cloud-retail-team as sample owners
  .github/CODEOWNERS
  .repo-metadata.json
Labels: automerge, samples, api: retail

#146 chore(samples): interactive tutorials code samples for search service
  .kokoro/pre-samples-test.sh
  samples/interactive-tutorials/README.md
  samples/interactive-tutorials/search/search-simple-query.js
  samples/interactive-tutorials/search/search-with-boost-spec.js
  samples/interactive-tutorials/search/search-with-facet-spec.js
  samples/interactive-tutorials/search/search-with-filtering.js
  samples/interactive-tutorials/search/search-with-ordering.js
  samples/interactive-tutorials/search/search-with-pagination.js
  samples/interactive-tutorials/search/search-with-query-expansion-spec.js
  samples/interactive-tutorials/test/search-simple-query.test.js
  samples/interactive-tutorials/test/search-with-boost-spec.test.js
  samples/interactive-tutorials/test/search-with-facet-spec.test.js
  samples/interactive-tutorials/test/search-with-filtering.test.js
  samples/interactive-tutorials/test/search-with-ordering.test.js
  samples/interactive-tutorials/test/search-with-pagination.test.js
  samples/interactive-tutorials/test/search-with-query-expansion-spec.test.js
Labels: samples, api: retail
